<div>
  <div><h1>Buscador de Héroes</h1></div>
  <mat-divider></mat-divider>
  <div>
    <h3>Buscador</h3>
    <form fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Heroe</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="termino"
          name="termino"
          (input)="buscando()"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="opcionSeleccionada($event)"
        >
          <div *ngIf="!errorBusqueda; else noEncontrado">
            <mat-option *ngFor="let heroe of heroes" [value]="heroe">
              {{ heroe.superhero }}
            </mat-option>
          </div>
          <ng-template #noEncontrado>
            <mat-option [value]="">
              No se ha encontrado {{ termino }}
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="heroeSeleccionado" fxLayout="row">
    <img
      [src]="heroeSeleccionado | imagenPipe"
      [routerLink]="['/heroes', heroeSeleccionado.id]"
    />
  </div>
</div>
