<h1 class="mt-5">Selectores Anidados</h1>
<hr />

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <!-- Región -->
  <div class="row">
    <div class="col-4">
      <label class="form-label me-3">Continente:</label>
      <select formControlName="region" class="form-control">
        <option value="">-- Seleccione Region --</option>
        <option *ngFor="let region of regiones" value="{{ region }}">
          {{ region | titlecase }}
        </option>
      </select>
    </div>
  </div>
  <!-- País -->
  <div class="row" *ngIf="paises.length !== 0">
    <div class="col-4">
      <label class="form-label me-3">País:</label>
      <select formControlName="pais" class="form-control">
        <option value="">-- Seleccione un País --</option>
        <option *ngFor="let pais of paises" value="{{ pais.name.common }}">
          {{ pais.name.common | titlecase }}
        </option>
      </select>
    </div>
  </div>
  <!-- Frontera -->
  <div class="row" *ngIf="fronteras.length > 0">
    <div class="col-4">
      <label class="form-label me-3">Frontera:</label>
      <select formControlName="frontera" class="form-control">
        <option value="">-- Seleccione una Frontera --</option>
        <option *ngFor="let frontera of fronteras" value="{{ frontera.cca3 }}">
          {{ frontera.name.common }}
        </option>
      </select>
    </div>
  </div>
  <!-- Cargando -->
  <div class="row" *ngIf="cargando">
    <div class="col-4 p-3">
      <div class="alert alert-primary">...Cargando</div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <button type="submit" class="btn btn-primary mt-3 float-end">
        Guardar
      </button>
    </div>
  </div>
</form>
<h3>Formulario</h3>
<pre>valid: {{ miFormulario.valid }}</pre>
<h3>Formulario: Values</h3>
<pre>{{ miFormulario.value | json }}</pre>
