<h2 class="text-center animate__animated animate__fadeIn">Por Capital</h2>
<hr />
<div class="row">
  <div class="col">
    <app-pais-input
      textoPlaceholder="Buscar Capital..."
      (onEnter)="buscarPais($event)"
      (onDebouncer)="sugerencia($event)"
    >
    </app-pais-input>
    <div *ngIf="hayError" class="alert alert-danger mt-2">
      No se encontró el texto {{ termino }}
    </div>
  </div>
</div>
<app-pais-sugerencias
  [tipo]="'capital'"
  [paisesSugeridos]="paisesSugeridos"
  (onSeleccionSugerido)="buscarPais($event)"
></app-pais-sugerencias>

<div *ngIf="!hayError && paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
